/**
 * $Id$
 */
.two-columns .reminder {
	margin: 1em 0 0;
	padding: 0;
}
.two-columns .reminder img {
	display: block;
}
.two-columns .reminder .content {
	margin-bottom: 0;
}

#filter-form {
	display: none;
}